.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 200px;
    padding: 5px 20px 10px 20px;
    margin: 10px;
    border-radius: 10px;
	box-shadow:
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}
